<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <%- include partials/meta.ejs %>
    <title>Raise Better</title>
    <base href="/fundraisers/<%= post.sid %>/edit-author">

    <meta name="post-sid" content="<%= post.sid %>">
    <meta name="author-sid" content="<%= post.author.sid %>">

    <%- include partials/ga.ejs %>
    <%- include partials/styles.ejs %>

</head>
<body>
<%- include partials/header.ejs %>
<%- include partials/loader.ejs %>

<!-- Page Banner Start-->
<section class="page-banner padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
</section>

<section id="property" class="bg_edit" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="container property-details">
        <div class="row pb20 pt20">
            <h2 class="text-uppercase" style="display: inline;">Edit Author Details</h2>
        </div>
        <div class="row">
            <form v-on:submit="saveAuthorDetails()" novalidate>
                <div class="row pt20 pb20">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name :</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           v-model="name" v-validate="'required'">
                                    <small class="error" v-show="errors.has('author.name')">
                                        Name is required.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="bio">Bio :</label>
                                    <textarea class="form-control" rows="10" id="bio" name="bio"
                                              v-model="bio"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="photoBrowse">Change Image :</label>
                            <label class="btn btn-primary btn-file">
                                Browse <input id="photoBrowse" type="file" style="display: none;" accept="image/*"
                                              (change)="previewImage($event)">
                            </label>
                        </div>
                        <div class="form-group">
                            <div *ngIf="url; else originalImg">
                                <img class="editPostImage" [src]="url">
                            </div>
                            <ng-template #originalImg>
                                <img class="editPostImage" [src]="post.author.avatar">
                            </ng-template>
                        </div>

                    </div>
                </div>
                <div class="row pb40 ">
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-yellow">Save Changes</button>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-white">
                            Cancel
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Changes will not be saved?</h4>
            </div>
            <div class="modal-body">
                <p>You pressed the Close button. Changes will not be saved.</p>
                <p>Click Close to discard changes. Or Cancel to return to editing</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeBtn('close')" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-default" (click)="closeBtn('cancel')" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>

    </div>
</div>


<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>
<script src="/vue/fundraiser.js"></script>

</body>
</html>

