<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <%- include partials/meta.ejs %>
    <title>Raise Better</title>
    <base href="/login">

    <%- include partials/ga.ejs %>
    <%- include partials/styles.ejs %>

</head>
<body>
<%- include partials/header.ejs %>
<!-- Login -->
<section id="info" class="padding">
    <div class="container">
        <h3 class="hidden">hidden</h3>
        <div class="row" id="messageSection">
            <div class="col-md-12 text-center">
                <h4><%= message %></h4>
            </div>
        </div>

    </div>
</section>
<!-- Login end -->

<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>
<script src="/vue/info.js"></script>

</body>
</html>

