<!DOCTYPE html>
<html>
<head>
    <%- include head/meta.ejs%>
    <title>Raise Better</title>
    <base href="/login">

    <%- include head/ga.ejs%>
    <%- include head/styles.ejs%>

</head>
<body>
<%- include header.ejs%>

<!-- First Login -->
<section id="login" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="uppercase">First Login</h2>
                <p class="heading_space">We've emailed you your Login Code and sent you a separate Verification Code via text
                    <br/> You will need both pieces of information to access your Fundraiser
                </p>
            </div>
        </div>
        <div class="row" id="messageSection">
            <div *ngIf="messages.length > 0" class="col-md-12 text-center">
                <ul class="messages">
                    <li class="{{m.type}}" *ngFor="let m of messages">{{m.text}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="profile-login">
                    <div class="agent-p-form no-tt">
                        <form action="#" class="callus clearfix" #f="ngForm" (ngSubmit)="login(f.value, f.valid)" novalidate>
                            <div class="single-query form-group col-sm-12">
                                <input type="text" class="no-tt keyword-input" placeholder="Your Email Address" name="username"
                                       [(ngModel)]="loginForm.username" #username="ngModel" required
                                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                <small class="error" [hidden]="username.valid || (username.pristine && !f.submitted)">
                                    Username is required.
                                </small>
                            </div>
                            <div class="single-query form-group col-sm-12">
                                <input type="text" class="no-tt keyword-input" placeholder="Login Code (sent to your email)"
                                       name="password"
                                       [(ngModel)]="loginForm.password" #password="ngModel" required>
                                <small class="error" [hidden]="password.valid || (password.pristine && !f.submitted)">
                                    Login Code is required. This was sent on an email to you.
                                </small>
                            </div>
                            <div class="single-query form-group col-sm-12">
                                <input type="text" class="no-tt keyword-input"
                                       placeholder="Verification Code (sent as a text to your phone)"
                                       name="code"
                                       [(ngModel)]="loginForm.code" #code="ngModel" required>
                                <small class="error" [hidden]="code.valid || (code.pristine && !f.submitted)">
                                    Verification Code is required. This was sent as a text to your mobile phone number.
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 pb20">
                                    <div class="col-sm-6 text-left">
                                        <a href="#" class="lost-pass">Lost your password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <input type="submit" value="Login" class="btn-slide border_radius">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- First Login end -->

<%- include footer.ejs %>
<%- include scripts/all.ejs%>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>

</body>
</html>

