<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Raise Better</title>
    <base href="/">

    <%- include head/ga.ejs%>
    <%- include head/styles.ejs%>

</head>
<body>

<!--Slider-->
<div class="rev_slider_wrapper">
    <div id="rev_overlaped" class="rev_slider" data-version="5.0">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade">
                <img src="/images/home1-banner2.png" alt="" data-bgposition="center center" data-bgfit="cover"
                     class="rev-slidebg">
            </li>
            <div class="tp-static-layers">
                <div class="tp-caption tp-static-layer"
                     id="slide-37-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['200','200','500','500']"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','on']"
                     data-fontsize="['48','48','28','28']"
                     data-start="500"
                     data-responsive_offset="on"
                     data-basealign="slide"
                     data-startslide="0"
                     data-endslide="5"
                     style="z-index: 5;">
                    <h1><span class="t_white">Better Fundraising</span></h1>
                </div>
                <div class="tp-caption tp-static-layer"
                     id="slide-37-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','380','380']"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','off','off']"
                     data-start="500"
                     data-basealign="slide"
                     data-startslide="0"
                     data-endslide="5"
                     style="z-index: 5;">
                    <p class="t_white">
                        No hidden exorbitant cuts from the funds you raise.
                        <br>Keep more of what you raise to help achieve your goal.
                    </p>
                </div>
                <div class="tp-caption tp-static-layer"
                     id="slide-37-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','380','380']"
                     data-width="['800','800','600','400']"
                     data-whitespace="['normal','normal','nowrap','nowrap']"
                     data-visibility="['off','off','on','on']"
                     data-start="500"
                     data-basealign="slide"
                     data-startslide="0"
                     data-endslide="5"
                     style="z-index: 5;">
                    <h3 class="t_white">
                        Low Fees. Instant Payments.
                    </h3>
                </div>
                <div class="tp-caption tp-static-layer"
                     id="slide-37-layer-4"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','150','150']"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','on']"
                     data-start="500"
                     data-basealign="slide"
                     data-startslide="0"
                     data-endslide="5"
                     style="z-index: 5;"><a href="listing1.html" class="btn-white border_radius uppercase">Discover
                        Raise Better</a>
                </div>
                <div class="tp-caption tp-static-layer"
                     id="slide-37-layer-5"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
                     data-whitespace="nowrap"
                     data-visibility="['off','off','on','on']"
                     data-start="500"
                     data-basealign="slide"
                     data-startslide="0"
                     data-endslide="5"
                     style="z-index: 5;"><a class="form_opener_2 btn-yellow border_radius uppercase">Start
                        Fundraising</a>
                </div>

            </div>
        </ul>
    </div>
</div>
<!--Slider ends-->

<%- include header.ejs%>

<!--Signup Form-->
<button type="button" class="form_opener"><i class="fa fa-bars"></i></button>
<div class="tp_overlay">
    <div class="topbar clearfix">
        <ul class="breadcrumb_top">
            <li><a><i class="icon-icons179"></i>Sign Up</a></li>
            <li class="last-icon"><i class="icon-icons215"></i></li>
        </ul>
    </div>

    <form class="callus top10 clearfix centered" #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
        <h2 class="text-uppercase t_white bottom40 text-center">Low Fees. Instant Payments.</h2>

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 t_white bottom15">
                <h4>I want to raise:</h4>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="single-query bottom15">
                    <div class="input-group">
                        <input type="text" class="keyword-input t_yellow"
                               style="color:black !important; font-size: 24px; border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;"
                               value="5000" name="amount" [(ngModel)]="overlayForm.amount" #amount="ngModel" required>
                        <span class="input-group-addon"
                              style="font-family: 'roboto_condensedbold';font-size: 20px;">GBP</span>
                    </div>
                    <small class="error" [hidden]="amount.valid || (amount.pristine && !f.submitted)">
                        Amount is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="t_white col-md-12 bottom15">
                <h4>to help with:</h4>
            </div>
            <div class="col-md-12">
                <div class="single-query bottom15">
                    <input type="text" class="keyword-input lowercase" placeholder="Title of your Fundraiser"
                           name="title"
                           [(ngModel)]="overlayForm.title" #title="ngModel" required>
                    <small class="error" [hidden]="title.valid || (title.pristine && !f.submitted)">
                        Title is required.
                    </small>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="t_white col-md-12 bottom15">
                <h4>your full name:</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="bottom15" style="width: 100%">
                    <input type="text" class="keyword-input" placeholder="First Name" style="width: 100%" name="fname"
                           [(ngModel)]="overlayForm.fname" #fname="ngModel" required>
                    <small class="error" [hidden]="fname.valid || (fname.pristine && !f.submitted)">
                        Name is required.
                    </small>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="bottom15" style="width: 100%">
                    <input type="text" class="keyword-input" placeholder="Last Name" style="width: 100%" name="lname"
                           [(ngModel)]="overlayForm.lname" #lname="ngModel" required>
                    <small class="error" [hidden]="lname.valid || (lname.pristine && !f.submitted)">
                        Last Name is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="t_white col-md-12 bottom15">
                <h4>your email address:</h4>
            </div>
            <div class="col-md-12">
                <div class="bottom15" style="width: 100%">
                    <input type="email" class="keyword-input" placeholder="Email" style="width: 100%" name="email"
                           [(ngModel)]="overlayForm.email" #email="ngModel" required
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <small class="error" [hidden]="email.valid || (email.pristine && !f.submitted)">
                        Email is not valid.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="t_white col-md-12 bottom15">
                <h4>your mobile phone number:</h4>
            </div>
            <div class="col-md-12">
                <div class="bottom15" style="width: 100%">
                    <input type="text" class="keyword-input"
                           style="width: 100%" name="mobile"
                           [(ngModel)]="overlayForm.mobile" #mobile="ngModel" placeholder="07222 555555" required
                           pattern="^(\+44\s?7\d{3}|\(?07\d{3}\)?)\s?\d{3}\s?\d{3}$">
                    <small class="error" [hidden]="mobile.valid || (mobile.pristine && !f.submitted)">
                        Phone number is not valid (Ex. 07222 555555, 07222555555)
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-right form-group top30">
                <button type="submit" class="border_radius btn-yellow text-uppercase">Start Fundraising Now</button>
            </div>
        </div>
    </form>
</div>
<!--Signup Form ends-->

<!--RB Calculator-->
<section id="testinomialBg" class="bg_light pt40 pb20">
    <div id="agent-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="uppercase">Keep more of what you raise</h2>
                    <p class="pt20">For every £500 you raise you can get up to £25 more with Raise Better.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 margin40">
                    <div class="agent_wrap">
                        <div class="image text-center">
                            <p class="pt10">Money Raised</p>
                            <h3>£500</h3>
                            <p class="pt10">You Get</p>
                            <h2>£{{rb_total}}</h2>
                            <img class="pt20" style="width: auto;" src="/images/logo.png">
                            <div class="img-info">
                                <h3 class="pb5">Raise Better</h3>
                                <span>2% Platform Fees</span>
                                <span>1.4% + 20p Card Processing Fees</span>
                                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                    diam nonummy
                                    nibh tempor cum soluta nobis consectetuer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 margin40">
                    <div class="agent_wrap">
                        <div class="image text-center">
                            <p class="pt10">Money Raised</p>
                            <h3>£500</h3>
                            <p class="pt10">You Get</p>
                            <h2>£{{jg_total}}</h2>
                            <img class="pt20" style="width: auto;" src="/images/justgiving-logo.jpg">
                            <div class="img-info">
                                <h3 class="pb5">Just Giving</h3>
                                <span> 5% Platform Fees</span>
                                <span>1.25% Card Processing Fees</span>
                                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                    diam nonummy
                                    nibh tempor cum soluta nobis consectetuer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 margin40">
                    <div class="agent_wrap">
                        <div class="image text-center">
                            <p class="pt10">Money Raised</p>
                            <h3>£500</h3>
                            <p class="pt10">You Get</p>
                            <h2>£{{gfm_total}}</h2>
                            <img class="pt10" style="width: auto;" src="/images/gfm-logo.png">
                            <div class="img-info">
                                <h3 class="pb10">Go Fund Me</h3>
                                <span>5% Platform Fees</span>
                                <span>3.5% + 20p Card Processing Fees</span>
                                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                    diam nonummy
                                    nibh tempor cum soluta nobis consectetuer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt80">
                <div class="col-sm-12">
                    <table class="table table-striped table-responsive" style="font-size:12px;">
                        <thead>
                        <tr style="font-size:14px;">
                            <th colspan="2"></th>
                            <th class="text-center br" colspan="2">Raise Better</th>
                            <th class="text-center br" colspan="2">Just Giving</th>
                            <th class="text-center" colspan="2">Go Fund Me</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center">
                            <td class="text-left" colspan="2">Money Raised</td>
                            <td class="br" colspan="2">£500</td>
                            <td class="br" colspan="2">£500</td>
                            <td colspan="2">£500</td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-left" colspan="2">Platform Fees</td>
                            <td>2%</td>
                            <td class="br">£{{rb_pf}}</td>
                            <td>5%</td>
                            <td class="br">£{{jg_pf}}</td>
                            <td>5%</td>
                            <td>£{{gfm_pf}}</td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-left" colspan="2">Payment Processor Fees</td>
                            <td>1.4% + 20p</td>
                            <td class="br">£{{rb_cpf}}</td>
                            <td>1.25%</td>
                            <td class="br">£{{jg_cpf}}</td>
                            <td>3.5% + 20p</td>
                            <td>£{{gfm_cpf}}</td>
                        </tr>
                        <tr style="font-size:14px;" class="text-center">
                            <td class="text-left" colspan="2">What You Keep</td>
                            <td class="br" colspan="2">£{{rb_total}}</td>
                            <td class="br" colspan="2">£{{jg_total}}</td>
                            <td colspan="2">£{{gfm_total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row pt20 text-center">
                <a href="/signup" class="btn-yellow border_radius uppercase margin20">Create A New Fundraiser</a>
            </div>
        </div>
    </div>
</section>
<!--RB Calculator ends-->

<!--RB Difference-->
<section id="parallax_four" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bottom30">
                <!--h2 class="uppercase">How is <strong>Raise Better</strong> different?</h2-->
                <h2 class="uppercase">How is <span class="rb_logo"></span> different ? </h2>
            </div>
            <div class="col-sm-8 col-md-10">
                <div class="row">
                    <div class="col-sm-6 margin40">
                        <i class="icon-credit-card"></i>
                        <h4 class="bottom10">Better Fees</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor
                            cum soluta nobis eleifend.</p>
                    </div>
                    <div class="col-sm-6 margin40">
                        <i class="icon-wallet2"></i>
                        <h4 class="bottom10">Better Payments</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor
                            cum soluta nobis eleifend.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 margin40">
                        <i class="icon-share3"></i>
                        <h4 class="bottom10">Better Engagement</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor
                            cum soluta nobis eleifend.</p>
                    </div>
                    <div class="col-sm-6 margin40">
                        <i class="icon-lock-rounded"></i>
                        <h4 class="bottom10">Better Safety</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor
                            cum soluta nobis eleifend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--RB Difference ends-->

<%- include footer.ejs %>


<%- include scripts/all.ejs%>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>

</body>
</html>
