<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Raise Better</title>
    <base href="/">

    <%- include head/ga.ejs%>
    <%- include head/styles.ejs%>

</head>
<body>
<%- include header.ejs%>

<%- include footer.ejs %>
<%- include scripts/all.ejs%>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>

</body>
</html>

