<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <%- include head/meta.ejs %>
    <title>Raise Better</title>
    <base href="/login">

    <%- include head/ga.ejs %>
    <%- include head/styles.ejs %>

</head>
<body>
<%- include header.ejs %>

<!-- Login -->
<section id="login" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="uppercase">Reset Password</h2>
                <p class="heading_space">Enter your new password</p>
            </div>
        </div>
        <div class="row" id="messageSection">
            <div v-if="messages.length > 0" class="col-md-12 text-center">
                <ul class="messages">
                    <li :class="m.type" v-for="m in messages">{{m.text}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="profile-login" style="padding:40px 0px;">
                    <div class="agent-p-form no-tt">
                        <form class="callus clearfix" v-on:submit.prevent="onSubmit" novalidate>
                            <div class="single-query form-group col-sm-12">
                                <input type="password" class="no-tt keyword-input" placeholder="New Password"
                                       name="password" v-model="password" v-validate="'required'">
                                <small class="error" v-show="errors.has('password')">
                                    {{ errors.first('password')}}
                                </small>
                            </div>
                            <div class="single-query form-group col-sm-12">
                                <input type="password" class="no-tt keyword-input" placeholder="Repeat New Password"
                                       name="repeatPassword" v-model="repeatPassword" v-validate="'required'">
                                <small class="error" v-show="errors.has('repeatPassword')">
                                    {{ errors.first('repeatPassword')}}
                                </small>
                            </div>
                            <div class=" col-sm-12">
                                <input v-bind:disabled="!isValid" type="submit" value="Login"
                                       class="btn-slide border_radius">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login end -->


<%- include footer.ejs %>
<%- include scripts/all.ejs %>

<script src="/vue/mixins/jwt.js"></script>
<script src="/vue/header.js"></script>
<script src="/vue/first-login/firstLogin.js"></script>

</body>
</html>


